<div class="container">
  <h1 class="text-center" id="friend-title">Your Friends</h1>
  <p class="text-center">Click any of the profiles to view thier podcasts</p>
  <div id="friends-container">
    <% if(@friendships.size>0) %>
    <% @friendships.size.times do |friendIndex| %>
    <div id="friend-item">
      <%= image_tag "profile.png" %>
      <h2><%= @friendships[friendIndex]["first_name"][0].upcase+@friendships[friendIndex]["first_name"][1,@friendships[friendIndex]["first_name"].size].downcase+" "+@friendships[friendIndex]["last_name"][0].upcase+@friendships[friendIndex]["last_name"][1,@friendships[friendIndex]["last_name"].size].downcase %></h2>
    </div>
    <%end%>
    <%else%>
    <div style="width:100%">
      <h2 style="color:black;" class="text-center">It look like you dont follow any friends, try searching for them :)</h2>
      </div>

    <% end %>
  </div>
</div>
