<div class="container well overall-home-styling">
  <h1 id="podcast-home-title" class="text-center">Homepage</h1>
  <br/>
  <div class="homepage-outer-flex">
    <div style="flex:2">
      <h2 id="home-episode-title" class="text-center">Your Podcasts</h2>
      <div class="flex-container-homepage" style="flex:2;">
        <% if(@userPodcasts.size >0)%>
          <% @userPodcasts.size.times do |podIndex| %>
            <div class="flex-container-homepage-item ">

              <%= link_to podcast_path(:itunes_id => @userPodcasts[podIndex]["itunes_id"]) do %>
              <%= image_tag(@userPodcasts[podIndex]["image_url"], {:class => "home-container-image"}) %>
            <% end %>
          </div>
        <%end%>
      <%else %>
        <div class="flex-container-homepage-item ">
          <h4>It looks like you havent subscribed to any podcasts, try searching for them.</h4>
        </div>
      <% end %>

    </div>

  </div>
  <div style="flex:1;background-color:grey;">
    <h2 id="home-episode-title" class="text-center">Trending podcasts</h2>
    <div class="top-podcasts-style">
      <h3 style="flex:1">test</h3>
      <h3 style="flex:1">test</h3>

    </div>

  </div>

</div>
</div>
