@import '../constants';
.app-title {
  text-align: center;
  font-weight: bold;
}

.app-title:hover {
  text-align: center;
  font-weight: bold;
  color: $overall-secondary-yellow;
}

.sidebar-style {
  display: flex;
  position: relative;
  a:hover, a:active, a:focus {
      text-decoration:none;
      color: whitesmoke;
  }
  a {
    font-size: 25px;
    color: whitesmoke;
  }
}

.sidebar-style .sidebar {
  font-weight: 600;
  width: 220px;
  height: 100%;
  background: $nav-side-bg-color;
  padding: 30px 0;
  position: fixed;
}

.sidebar-style .sidebar ul li {
  list-style-type: none;
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);

  i {
    font-size: 20px;
    padding-right: 10px;
  }
}

.sidebar-style .sidebar ul li:hover {
  list-style-type: none;
  background-color: grey;
}

.sidebar-style .main_content {
  width: 100%;
  margin-left: 198px;
}

.main-bottom-navigation {
  height: 100px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  background: $nav-bottom-bg-color;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.bottom-nav-style ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bottom-nav-style li {
  display: inline-block;
  width: calc(100vw / 4.6);
  padding: 10px;
}

.logout-side-style {
  position: absolute;
  bottom: 100px;
  left: 0;
  display: flex;
  display: block;
  width: 100%;
  background: #ffbf29;
  height: 40px;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;

  a {
    color: black !important;
    font-weight: bold;
    font-size: 20px;
  }
}

.user-name-side-style {
  position: absolute;
  bottom: 130px;
  left: 0;
  display: flex;
  width: 100%;
  padding: 20px 5px;

  span {
    white-space: nowrap;
    width: 100%;
    font-size: 20px;
    overflow: hidden;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 5px;
    text-overflow: ellipsis;
    color: $logo-highlight-color;

    a {
      color: $logo-highlight-color;
    }

    a:hover {
      text-decoration: none;
      color: $logo-highlight-color !important;
    }
  }
}


#audio_player_title{
    text-overflow: ellipsis;
}



#user-name-layout {
  white-space: nowrap;
  width: 100%;
  font-size: 20px;
  overflow: hidden;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 5px;
  text-overflow: ellipsis;
  color: red;
}
