<!-- View representing general infromation about the application as a whole. -->
<div class="container" id="about-us-container">
  <div><h1 class="text-center"><%= t('about.title')%></h1></div>
  <div><p><%= t('about.title')%></p></div>
</div>
