
<div class="jumbotron vertically-center">
  <div class="container">
    <div>
      <h1 class="pull-left">Welcome to the best podcast app</h1>
<div class="flipping-text-outer-styling pull-right">
  <div>
    <ul class="scroll-animation-text scroll-text-design">
    <li class="inner-scroll-text-style">Grow.</li>
    <li class="inner-scroll-text-style">Discover.</li>
    <li class="inner-scroll-text-style">Learn.</li>
    <li class="inner-scroll-text-style">Stream.</li>
    </ul> 
  </div>
</div>
    </div>
  <p><button type="button" class="btn btn-default login-button pull-right" style="width:200px;height:50px"><a>Sign Up!<a></button></p>
  </div>
</div>


<div class="container row">
  <div style="padding: 20px 100px;">
    <%= link_to image_tag('allpodcasts.jpg', width:"100%", height:"10%"), root_path, class: "center" %>
  </div>


</div>