@import '../constants';
// Appropriate styling for a podcast
#main-episode-container {
  background-color: $nav-side-bg-color;
  width: 1170px !important;
  border-radius: 10px;

  div {
    div {
      padding-bottom: 20px;

      h1 {
        color: $green-title-color !important;
        font-weight: bold !important;
        font-size: 80px;
      }

      p {
        font-size: 18px;
        padding-left: 20px;
        padding-top: 10px;
        padding-right: 20px;
        color: grey;
      }

      div#sub-options{
        div{
          padding-left: 300px;
        }
      }
    }
  }
}

#episode-image-item{
  padding-top: 20px;
  padding-left: 50px;
}

#podcast-description-style{
  padding-left: 20px !important;
  padding-top: 10px !important;
  padding-right: 30px !important;
}

a#subscribe-button {
  width: 300px;
  font-weight: bold;
  background-color: $logo-highlight-color;
  border: none;
  color:black !important;
}
a#unsubscribe-button {
  width: 300px !important;
  font-weight: bold !important;
  background-color: #CA3433 !important;
  border: none !important;
  color:black !important;
}


// Styling for approrpaite tags
.pod-description-style {
  color: grey !important;
}

.website-link-style {
  font-size: 18px !important;
  font-weight: 500;
  text-decoration: none;
  color: $overall-secondary-yellow !important;
}

.website-link-style:hover {
  font-size: 18px !important;
  font-weight: bold;
  text-decoration: none;
  color: $overall-secondary-yellow;
}

.episode-list-style {
  display: flex;
  flex-wrap: wrap;
  background-color: $nav-side-bg-color !important;
}

#episode-title {
  font-weight: 700;
  padding-left: 50px !important;
  color: $overall-secondary-yellow !important;
}

.play-icon-style {
  font-size: 200px !important;
  text-decoration: none !important;
}

.play-icon-style:hover {
  font-size: 200px !important;
  text-decoration: none !important;
  color: $logo-highlight-color;
}

.play-icon-style:active {
  font-size: 200px !important;
  text-decoration: none !important;
  color: $logo-highlight-color;
}

#scroll-text-box {
  padding-left: 80px;
}

#scrollable-textbox {
  color: grey !important;
  height: 220px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 20px !important;
}
