@import '../constants';

/*
  Styling for displaying friends that are assciated with a given user.
*/
#friend-title {
  font-weight: bold;
  font-size: 100px;
}

#friends-container {
  border-radius: 5px;
    background-color: $nav-bottom-bg-color;
  display: flex;
  padding: 20px 20px;

}

#friend-item {
  border-radius: 5px;
  padding: 30px 30px 0px 30px;
  flex:1;
  div{
    padding: 5px 5px;
    flex:1;
    img {
      border-radius: 20px;
      width: 260px;
      height: 235px;
    }

    h2 {
      width: 260px;
      white-space: nowrap;
      overflow: hidden;
      font-weight: bold;
      text-overflow: ellipsis;
      font-size: 26px;
      color: $logo-highlight-color;
    }


  }

}


/*
  All appropraite styling for ability for user to find friends,
  as well as styling for friend search results
*/
.friends-main-container{
  background-color: $nav-bottom-bg-color;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  h3{
    padding: 50px 50px;
  }
  div{
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    // padding-right: 20px;
    flex: 1;
    img{
      border-radius: 10px;
      width: 250px;
      height: 250px;
    }
    h2 {
      width: 260px;
      white-space: nowrap;
      overflow: hidden;
      font-weight: bold;
      text-overflow: ellipsis;
      font-size: 26px;
      color: $logo-highlight-color;
    }
  }
}
