@import '../constants';
/*
Styling for a given podcast search results (podcast icon styling).
*/
.podcast-logo{
    border-radius: 20px;
    width: 320px;
    height: 280px;
}

.podcast-button-style{
    margin-bottom:1px;
    margin-right:20px;
    color:black !important;
    background-color:$logo-highlight-color;
    width: 200px !important;
}

.pod-table-heading {
    color: $overall-secondary-yellow !important;
    font-weight: bold;

}

.pod-item{
    background-color:$nav-side-bg-color;
}
