//These are constant colours to ensure a consistant colour scheme throught the application
$overall-background: #0c0c0d;
$overall-text-color: #ffff;
$overall-secondary-bg-color: #0c0c0d;
$overall-secondary-yellow: #ffbf29;
$logo-highlight-color: #47cf73;
$overall-background: #0c0c0d;
$nav-bottom-bg-color: #242423;
$nav-side-bg-color: #1F1F1F;
$green-title-color: #47cf73;
