$nav-bottom-bg-color: #242423;
$nav-side-bg-color: #1F1F1F;
$overall-secondary-yellow: #ffbf29;
$logo-highlight-color: #47cf73;


#find-friends-main{
  background-color: $nav-bottom-bg-color;
  border-radius: 10px;
  h3{
    padding: 50px 50px;
  }
  display: flex;
  padding: 20px 20px;
}

#found-friends{
  padding: 20px 20px;
  img{
    border-radius: 10px;
    width: 250px;
    height: 250px;
  }
  h2 {
    width: 260px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    font-size: 26px;
    color: $logo-highlight-color;
  }
}
