$logo-highlight-color: #47cf73;
$nav-bottom-bg-color: #242423;
#friend-title {
  font-weight: bold;
  font-size: 100px;
}

#friends-container {
  border-radius: 5px;
      background-color: $nav-bottom-bg-color;
  display: flex;
  padding: 20px 20px;

}

#friend-item {
  border-radius: 5px;
  padding: 30px 30px 0px 30px;

  div{
    padding: 5px 5px;
    img {
      border-radius: 20px;
      width: 260px;
      height: 235px;
    }

    h2 {
      width: 260px;
      white-space: nowrap;
      overflow: hidden;
      font-weight: bold;
      text-overflow: ellipsis;
      font-size: 26px;
      color: $logo-highlight-color;
    }


  }

}
