//Imports appropraite constants used throught css. Mainly coulour constants
@import 'constants';

//Changing default bootstrap navbar values
$navbar-height: 120px;
$navbar-default-bg: $overall-background;
$navbar-default-link-color: $overall-text-color;
$navbar-default-link-hover-color: $overall-secondary-yellow;

//Overall Body
$body-bg: $overall-background;

//Setting default bootstrap text color
$text-color: $overall-text-color;

//Setting default bootstrap Jumbotron values
$jumbotron-bg: $overall-secondary-bg-color;
$jumbotron-heading-color: $overall-text-color;

@import "bootstrap-sprockets";
@import "bootstrap";



//Styling for overall application
*{
padding: 0;

}
//To prevent text heighligting
a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: white;
}

.center {
  align-content: center;
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
}

.navbar-default {
  border-color: transparent;
}

.bold-text-nav {
  font-size: 18px;
  font-weight: bold;
}




//Loading indicator styling
#loading-indicator{
  width: 100%;
}

#loading-text {
    position: relative;
    font-weight: bold;
    color:$logo-highlight-color;
    font-size: 5em
}


//Below styles are styles used throught the application, to provide a consitnt layout.
#main-title{
  font-weight: bold !important;
  font-size: 70px;
}



#logo {
  float: left;
  padding-top: 60px;
  font-size: 2.8em;
  color: $overall-text-color;
  font-weight: bold;
}

#logo:hover {
  color: $logo-highlight-color;
  font-size: 2.8em;
}

.login-button {
  margin-top: 30px;
  width: 120px;
  height: 45px;
  background-color: $logo-highlight-color;
  align-content: center;
  display: block;
  border-radius: 15px 15px 15px 15px;

  border: 0px;
  font-weight: 700 !important;
  font-size: 1.5em;
  color: black;
  text-align: center;
  align-content: center;
  text-decoration: none;
}

//Note !important is required, to override Bootstrap defaults for hovering over button
.login-button:hover {
  margin-top: 30px !important;
  width: 120px ;
  height: 45px;
  border-radius: 15px 15px 15px 15px !important;
  background-color: #2fb45a !important;
  font-weight: 700 !important;
  font-size: 1.6em !important;
  text-align: center !important;
  color: black !important;
  align-content: center !important;
  text-decoration: none !important;
}
