.podcast-logo{
    border-radius: 20px;
    width: 320px;
    height: 280px;
}


.podcast-button-style{
    margin-bottom:1px;
    margin-right:20px;
    color:black !important;
    background-color:#47cf73;
    width: 200px !important;
}

.pod-table-heading {
    color: #ffbf29 !important;
    font-weight: bold;


}

.pod-item{
    background-color:#1F1F1F;
}
